h2 {
    display: inline-block;
    width: 100%;
}

h3 {
    display: inline-block;
}

p {
    display: inline-block;
}

.box111 {
    width: 100%;
}

.box1,
.box2 {
    width: 80%;
    margin: 10px;
}

.box1 h3 {
    margin: 0 2px 1px 0;
}

.box1 p {
    margin: 0 2em 1px 0;
}

.box2 h3 {
    width: 100%;
    margin: 0;
}

.box2 p {
    margin: 0;
}

.box11 {
    float: left;
    height: 800px;
    width: 10%;
    background: #4CA5E0;
}

div {
    float: left;
}

h1 {
    text-align: center;
    color: white;
}